<launch>
  <!-- Begin gmapping -->
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml"/>
  <!-- Launch rviz viewer -->
  <include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch"/>

  <!-- Map server -->
  <arg name="map_file" default="$(find turtlebot_gazebo)/maps/playground.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
  </node>

  <!-- Localization -->
  <arg name="initial_pose_x" default="-0.009495706"/>
  <arg name="initial_pose_y" default="0.05035271"/>
  <arg name="initial_pose_a" default="0.0"/>
  <arg name="use_map_topic" default="true"/>
  <include file="$(find turtlebot_navigation)/launch/includes/amcl.launch.xml">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
    <arg name="use_map_topic" value="$(arg use_map_topic)"/>
  </include>

</launch>
