<launch>

  <!-- roslaunch arguments -->
  <arg name="debug" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="fake_execution" default="false" />
  <arg name="allow_trajectory_execution" default="true" />
  <arg name="namespace" default="Maulesh" />

  <!-- Launch our World -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find phantomx_arm_gazebo)/worlds/phantomx.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>    
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
  <!-- The 'prefix' tag references the specific robot namespace within Gazebo -->
  <param name="robot_description"
	 command="$(find xacro)/xacro.py '$(find phantomx_arm_turtlebot_description)/robots/kobuki_hexagons_kinect.urdf.xacro' prefix:=$(arg namespace)"/>

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-urdf -model phantomx_arm -param robot_description"/>

 </launch>
